*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  --faveColor : black;
}

body {
  background: ghostwhite;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

#root {
  border: solid thin goldenrod;
  height: 100vh;
}

main {
  padding: 1rem 2rem;
}

h1 {
  font-family: 'Bonheur Royale';
  color: goldenrod;
}

img {
  width: 85vw;
}